hdltools/output
hdltools/__pycache__
hdltools/examples/output
/vunit_out
/_Alert.txt
/_Log.txt
/out.xml

# Vivado simulation files
*.jou
*.log
*.pb
*.dir
*.str
*.cache
*.hw
*.ip_user_files
*.sim
*.xpr
*.runs
*.zip
*.srcs
*.gen
.Xil
